body {
    
    background-image: linear-gradient(to bottom right, purple ,yellow );
}
img {
    width: 25%;
    height: 25%;
}
p {
    text-align: center;
    color: darkblue;
}
h1 

{
    text-align: center;
color: darkblue;
}